*adj*.csv
*cell_types.csv
*coords.csv
*counts.csv
datasets/srt_data/
*.ipynb_checkpoints
.ipynb_checkpoints
datasets/gp_data
artifacts/nanostring_cosmx_human_nsclc/models
artifacts/nanostring_cosmx_human_nsclc/results/**/*.h5ad
.DS_Store
*.DS_Store
*.ipynb_checkpoints
